VITE_APP_BASE_URL=http://localhost:8000
VITE_APP_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1MzIyZjRjNzI4MDRkYWE1YjEwNmMwMjQ5M2Y2MjQ5MyIsIm5iZiI6MTcyNTcwMDg0Mi4yMTE5OTIsInN1YiI6IjY2ZGMxNWU0MzVmOWE1ZTYxN2I5MjMwYyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.vfxPCNiO9XtBTXx-r0ZHtsd7PKLoFaifCec7a12ZfFQ